<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>ADMIN DASHBOARD</title>
    <link href="{{ asset('assets/css/bootstrap.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/css/font-awesome.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="navbar navbar-inverse set-radius-zero">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('dashboard') }}">
                <img src="{{ asset('assets/img/logo.png') }}" />
            </a>
        </div>

        <div class="right-div">
            <a href="#" class="btn btn-danger pull-right">LOG ME OUT</a>
        </div>
    </div>
</div>

<section class="menu-section">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="navbar-collapse collapse">
                    <ul id="menu-top" class="nav navbar-nav navbar-right">
                        <li><a href="{{ path('dashboard') }}" class="menu-top-active">DASHBOARD</a></li>
                        <li><a href="{{ path('article') }}">ADD PRODUCTS</a></li>
                        <li><a href="{{ path('articlelist') }}">PRODUCTS LIST</a></li>
                        <li><a href="{{ path('contactlist') }}">CONTACTS LIST</a></li>
                        <li><a href="{{ path('admin_orders') }}">ORDERS LIST</a></li>
                        <li><a href="{{ path('app_user_list') }}">USERS LIST</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="content-wrapper">
    <div class="container">
        <div class="row pad-botm">
            <div class="col-md-12">
                <h4 class="header-line">CONTACTS LIST</h4>
            </div>
        </div>        {% for message in app.flashes('success') %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
        {% for message in app.flashes('warning') %}
            <div class="alert alert-warning">{{ message }}</div>
        {% endfor %}

        <form method="POST" action="{{ path('delete_contacts') }}">
            <div class="row">
                {% for contact in contacts %}
                    <div class="col-md-4 col-sm-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Contact ID: {{ contact.id }}
                                <input type="checkbox" name="selected_contacts[]" value="{{ contact.id }}" />
                            </div>
                            <div class="panel-body">
                                <h5>Name: {{ contact.name }}</h5>
                                <p>Email: {{ contact.email }}</p>
                                <p>Phone: {{ contact.subject }}</p>
                            </div>
                            <div class="panel-footer">
                                <p>Message: {{ contact.message }}</p>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="col-md-12">
                        <p>No contacts found.</p>
                    </div>
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-danger pull-right">Delete Selected</button>
        </form>
    </div>
</div>
</body>
</html>