<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>ADMIN DASHBOARD</title>
    <!-- BOOTSTRAP CORE STYLE  -->
    <link href="{{ asset('assets/css/bootstrap.css') }}" rel="stylesheet" />
    <!-- FONT AWESOME STYLE  -->
    <link href="{{ asset('assets/css/font-awesome.css') }}" rel="stylesheet" />
    <!-- CUSTOM STYLE  -->
    <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet" />
    <!-- GOOGLE FONT -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="navbar navbar-inverse set-radius-zero">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('dashboard') }}">
                <img src="{{ asset('assets/img/logo.png') }}" />
            </a>
        </div>
        <div class="right-div">
            <a href="#" class="btn btn-danger pull-right">LOG ME OUT</a>
        </div>
    </div>
</div>
<!-- LOGO HEADER END-->
<section class="menu-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="navbar-collapse collapse">
                    <ul id="menu-top" class="nav navbar-nav navbar-right">
                        <li><a href="{{ path('dashboard') }}" class="menu-top-active">DASHBOARD</a></li>
                        <li><a href="{{ path('article') }}">ADD PRODUCTS</a></li>
                        <li><a href="{{ path('articlelist') }}">PRODUCTS LIST</a></li>
                        <li><a href="{{ path('contactlist') }}">CONTACTS LIST</a></li>
                        <li><a href="{{ path('app_locationlist') }}">LOCATIONS LIST</a></li>
                        <li><a href="{{ path('dashboard') }}">ORDERS LIST</a></li>
                        <li><a href="{{ path('app_user_list') }}">USERS LIST</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- MENU SECTION END -->
<div class="content-wrapper">
    {% block body %}

        <div class="container">
            <div class="row pad-botm">
                <div class="col-md-12">
                    <h4 class="header-line">FORM PRODUCTS</h4>

                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success">{{ message }}</div>
                    {% endfor %}



                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            Add Products
                        </div>

                        <div class="panel-body">
                            {{ form_start(form) }}
                            <div class="form-group">
                                {{ form_label(form.name) }}
                                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.name) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.prix) }}
                                {{ form_widget(form.prix, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.prix) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.date) }}
                                {{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.date) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.photo) }}
                                {{ form_widget(form.photo, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.photo) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.description) }}
                                {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.description) }}
                            </div>
                            <button type="submit" class="btn btn-info">Submit</button>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

</div>
<!-- CONTENT-WRAPPER SECTION END -->
<section class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                &copy; 2024 compify.com | <a href="http://www.binarytheme.com/" target="_blank">Designed by: compify.com</a>
            </div>
        </div>
    </div>
</section>
<!-- FOOTER SECTION END -->
<!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME -->
<!-- CORE JQUERY -->
<script src="{{ asset('assets/js/jquery-1.10.2.js') }}"></script>
<!-- BOOTSTRAP SCRIPTS -->
<script src="{{ asset('assets/js/bootstrap.js') }}"></script>

<!-- CUSTOM SCRIPTS -->
<script src="{{ asset('assets/js/custom.js') }}"></script>
</body>
</html>