
<!DOCTYPE html>
<html lang="en">
{% block title %}Article Details{% endblock %}




{% block body %}

    <div class="container mt-5">
        <div class="row">
            <!-- Colonne pour l'image -->
            <div class="col-md-6">
                <div class="image-container">
                    <img src="{{ asset('uploads/photos/' ~ article.photo) }}" alt="{{ article.name }}" class="img-fluid">
                </div>
            </div>

            <!-- Colonne pour le texte -->
            <div class="col-md-6">
                <div class="text-container">
                    <h1>{{ article.name }}</h1>
                    <h4>{{ article.prix | number_format(2, '.', ',') }} TND</h4>
                    <p>{{ article.description }}</p>
                    <div class="mt-3">
                        <button class="btn btn-primary"   >

                            <a href="{{ path('cart_add', {'id': article.id}) }}" class="btn btn-primary" id="addCartButton"> Add to Cart</a>
                        </button>
                        <button class="btn btn-secondary">Location</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
